# Application
APP_NAME="SpaceOps API"
APP_ENV=local
DEBUG=true

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/spaceops

# Redis & Celery
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# External APIs
NASA_API_KEY=DEMO_KEY
GROQ_API_KEY=your_groq_api_key_here
